.carousel-caption{
  top:50%;
  transform: translate(0,-30%);
}
.card{
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.3),2px 2px 10px 3px rgba(0,0,0,0.3);
}
footer{
  background-color: #343a40;
  color:#f1f1f1;
}
body{
  overflow-x: hidden;
  background-image: url(img/back.png);
  background-repeat: repeat;
}
.social{
  margin-right: 0px;
  margin-left: 0px;
}
.social>a>i{
  font-size: 40px;
  position: absolute;
  color: #343a40;
  transition: 0.1s ease;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}
.carousel-caption{
  text-shadow: 5px 5px 8px rgba(0,0,0,0.5),3px 3px 3px rgba(0,0,0,0.6);
}
.social>a>i:hover{
  font-size: 55px;
}
.card-deck:hover .card:not(:hover){
  transition: 0.325s ease;
  filter: grayscale(1.0);
  transform: scale(0.95);
}
.bio{
  font-size: 1.5rem;
}
